<h2 class="page-header">Account LOGIN</h2>
<form method="post" action="/users/login">
  <div class="from-group">
    <label>Username</label>
    <input type="text" class="form-control" placeholder="Username"/>
  </div>
  <div class="from-group">
    <label>Password</label>
    <input type="text" class="form-control" placeholder="Password"/>
  </div><br />
  <button class="btn btn-info" type="submit">Login</button>
</form>
