<h2 class="page-header">Register</h2>
{{#if errors}}
{{#each errors}}
 <div class="alert alert-danger">{{msg}}
 </div>
{{/each}}
{{/if}}
<form method="post" action="/users/register">
  <div class="from-group">
    <label>Name</label>
    <input type="text" class="form-control" name="name"placeholder="Name"/>
  </div>
  <div class="from-group">
    <label>Username</label>
    <input type="text" class="form-control" name="username"placeholder="Username"/>
  </div>
  <div class="from-group">
    <label>Email</label>
    <input type="text" class="form-control" name="email"placeholder="Email"/>
  </div>
  <div class="from-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password"placeholder="Password"/>
  </div>
  <div class="from-group">
    <label>ConfirmPassword</label>
    <input type="password" class="form-control"name="password2" placeholder="Password"/>
  </div>
  <br />
  <button class="btn btn-info" type="submit">Register</button>
</form>
